
.book-detail-style {
  border: 1px solid #ccc;

  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center
};

.book-image-style {
  width: '100%';
  border-radius: 8px;
  margin-bottom: 20px
};